apiVersion: v1
kind: "DeploymentConfig"
metadata:
  name: "logstash"
  labels:
    app: logstash
    component: logstash-agent
spec:
  replicas: 1
  strategy:
    rollingParams:
      timeoutSeconds: 1200
  updateStrategy:
    type: RollingUpdate
    rollingUpdate:
      minReadySeconds: 1200
  template:
    metadata:
      name: logstash
      labels:
        app: logstash
        component: "logstash-agent"
    spec:
      terminationGracePeriodSeconds: 30
      containers:
      - name: logstash
        image: {{ logstash_image }}
        readinessProbe:
          httpGet:
            path: /
            port: 9600
          initialDelaySeconds: 20
          timeoutSeconds: 1
        imagePullPolicy: Always
        resources:
          limits:
            cpu: 800m
            memory: 1Gi
        volumeMounts:
        - name: config
          mountPath: /etc/logstash/conf.d
          readOnly: true
        - name: patterns
          mountPath: /etc/logstash/patterns.d
          readOnly: true
        - name: queue
          mountPath: /opt/queue
        env:
        - name: "DEBUG_LOGSTASH"
          value: "{{ debug }}"
        - name: "INSTANCE_RAM"
          value: "1G"
      volumes:
      - name: config
        configMap:
          name: logstash-config
      - name: patterns
        configMap:
          name: logstash-patterns
      - name: queue
        persistentVolumeClaim:
          claimName: logstash-queue
